/* ======= GERAL ======= */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 360px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1, h2, h3 {
    text-align: center;
}

p {
    text-align: center;
    color: #666;
}

/* ======= IDIOMAS ======= */

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.language {
    width: 90px;
    padding: 12px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: .25s;
}

.language:hover {
    background: #f0f0f0;
    transform: scale(1.05);
}

/* ======= TELA DE MÚSICAS ======= */

.music-screen {
    display: none;
}

.search-box {
    background: #f2f2f2;
    padding: 12px;
    border-radius: 10px;
    color: #777;
    margin-bottom: 20px;
}

/* ======= CARD ======= */

.music-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 12px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .25s ease;
}

.music-card:hover {
    transform: scale(1.02);
}

.music-card.selected {
    border: 2px solid #22c55e;
    background: #f2fff6;
}

/* ======= CHECK ======= */

.check {
    display: none;
    position: absolute;
    right: 12px;
    top: 12px;
    background: #22c55e;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
}

.music-card.selected .check {
    display: block;
}

/* ======= CAPA ======= */

.cover {
    width: 60px;
    height: 60px;
    background: #ececec;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

/* ======= BOTÃO ======= */

.send-button {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #22c55e;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
}

.send-button:hover {
    transform: scale(1.03);
}
